.bigBar {
    display: flex;
    width: 100%;
    align-items: center;
    top: 0;
    justify-content: space-between;
    height: 4rem; /* or 64px */
    background-color: var(--vol-orange);
    padding: 1rem; /* or 16px */
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../public/images/logo.png');
    height: 60px;
    width: 60px;
    outline: none;
    border: none;
    background-color: transparent;
}

.searchBar {
    width: 20rem;
    background-color: white; 
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: width 0.3s ease-in-out;
    outline: none;
    border: 1px solid transparent;
    margin-left: 150px;
}

.searchBar:hover,
.searchBar:focus {
    width: 30rem;
}

/* Centering the search bar container */
.centerContainer {
    flex: 1; /* Make it take available space */
    display: flex;
    justify-content: center; /* Center the search bar */
    align-items: center; /* Center vertically */
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.hamburgerButton {
    position: relative;
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.hamburgerButton .hamburgerMenu {
    width: 10vw;
    min-width: 150px;
    background-color: lightgrey;
    position: absolute;
    right: 0;
    top: 64px;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .logo {
        display: none;
    }

    .centerContainer {
        justify-content: start;
    }

    .searchBar {

        margin-left: 0px;
    }

    .searchBar:hover,
    .searchBar:focus {
        width: 10rem;
    }   
}

@media screen and (max-width: 650px) {
    .searchBar {

        width: 10rem;
    }

    .searchBar:hover,
    .searchBar:focus {
        width: 10rem;
    }   
}