.bigBar {
    display: flex;
    width: 100%;
    align-items: center;
    top: 0;
    justify-content: space-between;
    height: 4rem;
    background-color: var(--vol-orange);
    padding: 1rem;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../public/images/logo.png');
    height: 60px;
    width: 60px;
    outline: none;
    border: none;
    background-color: transparent;
}

.searchBar {
    width: 20rem;
    background-color: white; 
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: width 0.3s ease-in-out;
    outline: none;
    border: 1px solid transparent;
    margin-left: 190px;
}

.searchBar:hover,
.searchBar:focus {
    width: 30rem;
}

.centerContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchDropdownContainer {
    position: absolute;
    top: 100%;
    z-index: 10;
    width: 3rem;
}

.searchDropdown {
    border-radius: 10px;
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--smokey-gray);
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    width: 15rem;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.searchDropdown li {
    padding: 8px;
    cursor: pointer;
}

.searchDropdown li:hover {
    background-color: #f1f1f1;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.hamburgerButton {
    position: relative;
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.hamburgerButton .hamburgerMenu {
    width: 10vw;
    min-width: 150px;
    background-color: lightgrey;
    position: absolute;
    right: 0;
    top: 64px;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .logo {
        display: none;
    }

    .centerContainer {
        justify-content: start;
    }

    .searchBar {

        margin-left: 0px;
    }

    .searchBar:hover,
    .searchBar:focus {
        width: 10rem;
    }   

    .searchDropdown {
        width: 10rem;
    }
}

@media screen and (max-width: 650px) {
    .searchBar {

        width: 10rem;
    }

    .searchBar:hover,
    .searchBar:focus {
        width: 10rem;
    }   
}