@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --vol-orange: #FF8200;
  --smokey-gray: #4B4B4B;
  --powder-blue: #489FDF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4B4B4B;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: var(--vol-orange);
  background: var(#FFFFFF);
  font-family: 'poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
