@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vol-orange: #FF8200;
  --smokey-gray: #4B4B4B;
  --powder-blue: #489FDF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4B4B4B;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: var(--vol-orange);
  background: var(#FFFFFF);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
