/* Ensure navbar spans full width */
.navbar {
    width: 100%;
    /* Add any other necessary navbar styling */
}

.saved-workouts-container {
    padding-top: 10px;
}

/* Grid layout for meal cards */
.workouts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjusted the min width */
    gap: 20px;
    width: 100%; /* Ensure the grid takes up the full width */
    max-width: 1200px; /* Optional: Set a max-width to control spread */
    margin: 0 auto; /* Center the grid */
    padding: 20px;
}

/* Each meal is displayed in its own card */
.workout-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.2s;
    max-width: 100%;
    /* Optional: Max height to maintain uniformity */
}

/* Hover effect on meal card */
.workout-card:hover {
    transform: translateY(-5px);
}

/* Other existing styles */
.page-title {
    text-align: center;
    border-bottom: 2px solid var(--vol-orange);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--vol-orange);
}

.workout-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.workout-card p {
    font-size: 1.1rem;
    margin: 5px 0;
}

.workout-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.workout-action-button {
    background-color: rgb(255, 166, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 48%;
    text-align: center;
}

.workout-action-button:hover {
    background-color: var(--vol-orange);
}

.exercise-details {
    margin-top: 10px; /* Add space between title and details */
    padding: 10px;
    background-color: #f9f9f9; /* Optional: a light background for details */
    border-radius: 5px; /* Optional: rounded corners */
}

.exercise-details {
    margin-top: 15px; /* Space above exercise details */
    padding: 10px;
    background-color: #f9f9f9; /* Light gray background */
    border-left: 5px solid var(--powder-blue); /* Accent border */
    border-radius: 5px; /* Rounded corners */
}

.exercise-details h4 {
    margin-bottom: 10px; /* Space below exercise heading */
    color: #333; /* Green color for heading */
    font-weight: bold; /* Bold heading */
}

.exercise-details ul {
    list-style-type: none; /* Remove default list styles */
    padding-left: 0; /* Remove padding from the left */
}

.exercise-details li {
    color: var(--vol-orange);
    padding: 5px 0; /* Space between list items */
    border-bottom: 1px solid #b2b1b1; /* Subtle divider line */
}

.exercise-details strong {
    color: #2a2a2a;
}

.exercise-details li:last-child {
    border-bottom: none; /* Remove bottom border from last item */
}

