.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url('../../public/images/login-background.png') no-repeat center center;
  background-size: cover;
  filter: blur(4px);
  z-index: -1;
}

.wrapper{
  width: 420px;
  border: 2px solid rgba(255,255,255,.2);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  color: var(--vol-orange);
  background-color: #f3dac1c5;
  border-radius: 10px;
  padding: 30px 40px;
  z-index: 1;
}

.wrapper .login-title{
  font-size: 45px;
  text-align: center;
  color: var(--vol-orange);
}

.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.togglePasswordContainer {
  display: flex;
  margin-top: -20px;
  padding-bottom: 25px;
}

.togglePassword {
  margin-left: auto;
  margin-right: 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent ;
  border: none;
  outline: none ;
  border: 2px solid #757575;
  border-radius: 40px;
  font-size: 16px;
  color: var(--smokey-gray);
  padding: 20px 45px 20px 20px;
}

.input-box input:focus {
  border: 2px solid var(--vol-orange);
}

.input-box input::placeholder{
  color: #757575;
}

.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px ;
}

.wrapper .remember-forget{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forget label input{
  accent-color: var(--smokey-gray);
  margin-right: 3px ;
}

.remember-forget label {
  color: #757575;
}

.remember-forget a{
  color: #757575;
  text-decoration: none;
}
.remember-forget a:hover{
  text-decoration: underline;
}

.wrapper .btn  {
  width: 100%;
  height: 45px;
  background: var(--vol-orange);
  border: none;
  outline: none;
  border-radius: 40px ;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.wrapper .btn:hover{
  background: #ec8021;
  color: #fff;
  border-color: #fff;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px ;
}

.register-link p a {
  color: var(--vol-orange);
  text-decoration: none;
  font-weight: 600;
}

.register-link p {
  color: var(--smokey-gray);
}

.register-link p a:hover{
  text-decoration: underline;
}

.hidden {
  display: none;
}

.alert {
  position: fixed;
  top: 30px;
  right: 30px;
  padding: 20px;
  font-size: 17px;
  background-color: var(--login-primary);
  border: 2px solid rgba(255, 140, 0, 0.8);
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
}

.alert::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--vol-orange);
  border-radius: 5px;
  z-index: -1;
}

.alert.hidden {
  display: none;
}

#alert-close {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding-right: 0px;
}