.wrapper {
    background-color: white;
    width: 100vw;
    height: 100vh;
    color: var(--vol-orange);
}

.errorMessage {
    font-size: 30px;
    color: white;
}

.editButton {
    background-color: var(--vol-orange);
    border-radius: 100px;
    color: white;
    width: 120px;
}

.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton {
    margin-top: 70px;
    background-color: var(--vol-orange);
    border-radius: 100px;
    color: white;
    width: 400px;
    font-size: 40px;
}

.savedPostsButton {
    background-color: var(--vol-orange);
    border-radius: 100px;
    color: white;
    width: 120px;
}